* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
.container {
    background-color: dodgerblue;
    border: 1px solid yellowgreen;
    margin-bottom: 100px;
}
.item {
    padding: 20px;
    border: 3px solid darkblue;
    color: white;
}


.container-1 {
   display: flex;
   justify-content: space-between;
}

.container-1 .item:first-child {
   background-color: white;
   color: black;
}

.container-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.container-3 {
    display: flex;
    justify-content: center; 
}
.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-5 {
    display: flex;
    justify-content: end;
    align-items: center;
}
.container-6 {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row-reverse;
}
.container-7 {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.container-8 {
   display: flex;
   flex-direction: column;
}
.container-9 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-9 .item {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    background-color: white;
}